<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>
        Login
    </title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<!-- Navbar -->
<nav class="relative container mx-auto p-6">
    <!-- Flex container -->
    <div class="flex items-center justify-between">
        <!-- Logo -->
        <div class="pt-2">
            <a th:href="@{/}">
                <img class="h-10 w-52" th:src="@{img/marke-logo.svg}" alt="marke logo"/>
            </a>

        </div>
        <!-- Menu Items -->
        <div class="hidden space-x-6 md:flex">
            <a th:href="@{/}" class="hover:text-darkGrayishBlue">Home</a>
            <a href="#" class="hover:text-darkGrayishBlue">Pricing</a>
            <a href="#" class="hover:text-darkGrayishBlue">Products</a>
            <a href="#" class="hover:text-darkGrayishBlue">About Us</a>
            <a href="#" class="hover:text-darkGrayishBlue">Contact</a>
        </div>
        <!-- Button -->
        <a
                th:href="@{/login}"
                class="hidden p-3 px-6 pt-2 text-white bg-blue-400 rounded-full baseline hover:bg-blue-300 md:block"
        >Get Started</a
        >

        <!-- Hamburger Icon -->
        <button
                id="menu-btn"
                class="block hamburger md:hidden focus:outline-none"
        >
            <span class="hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
        </button>
    </div>

    <!-- Mobile Menu -->
    <div class="md:hidden">
        <div
                id="menu"
                class="absolute flex-col items-center hidden self-end py-8 mt-10 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md"
        >
            <a th:href="@{/}">Home</a>
            <a href="#">Pricing</a>
            <a href="#">Products</a>
            <a href="#">About Us</a>
            <a href="#">Contact</a>
        </div>
    </div>
</nav>

<section class="h-screen">
    <div class="px-6 h-full text-gray-800">
        <div
                class="flex xl:justify-center lg:justify-between justify-center items-center flex-wrap h-full g-6"
        >
            <div
                    class="grow-0 shrink-1 md:shrink-0 basis-auto xl:w-6/12 lg:w-6/12 md:w-9/12 mb-12 md:mb-0"
            >
                <img
                        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                        class="w-full"
                        alt="Sample image"
                />
            </div>
            <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0">
                <form>
                    <!-- Username input -->
                    <div class="mb-6">
                        <input
                                type="text"
                                class="form-control block w-full px-2 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                id="exampleFormControlInput2"
                                placeholder="Username"
                        />
                    </div>

                    <!-- Password input -->
                    <div class="mb-6">
                        <input
                                type="password"
                                class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                id="exampleFormControlInput3"
                                placeholder="Password"
                        />
                    </div>
                    <div class="text-center lg:text-left">
                        <button
                                type="button"
                                class="inline-block px-7 py-3 bg-blue-400 text-white font-medium text-sm leading-snug uppercase rounded-full  shadow-md hover:bg-blue-300 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                        >
                            Login
                        </button>
                        <p class="text-sm font-semibold mt-2 pt-1 mb-0">
                            Don't have an account?
                            <a
                                    href="#!"
                                    class="text-red-600 hover:text-red-500 focus:text-red-500 transition duration-200 ease-in-out"
                            >Register</a
                            >
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="bg-veryDarkBlue">
    <!-- Flex Container -->
    <div
            class="container flex flex-col-reverse justify-between px-6 py-10 mx-auto space-y-8 md:flex-row md:space-y-0"
    >
        <!-- Logo and social links container -->
        <div
                class="flex flex-col-reverse items-center justify-between space-y-12 md:flex-col md:space-y-0 md:items-start"
        >
            <div class="mx-auto my-6 text-center text-white md:hidden">
                Copyright &copy; 2022, All Rights Reserved
            </div>
            <!-- Logo -->
            <div class="pt-2">
                <a th:href="@{/}">
                    <img th:src="@{img/marke-logo.svg}" alt="marke logo"/>
                </a>

            </div>
            <!-- Social Links Container -->
            <div class="flex justify-center space-x-4">
                <!-- Link 1 -->
                <a href="#">
                    <img th:src="@{img/icon-facebook.svg}" alt="" class="h-8"/>
                </a>
                <!-- Link 2 -->
                <a href="#">
                    <img th:src="@{img/icon-youtube.svg}" alt="" class="h-8"/>
                </a>
                <!-- Link 3 -->
                <a href="#">
                    <img th:src="@{img/icon-twitter.svg}" alt="" class="h-8"/>
                </a>
                <!-- Link 4 -->
                <a href="#">
                    <img th:src="@{img/icon-pinterest.svg}" alt="" class="h-8"/>
                </a>
                <!-- Link 5 -->
                <a href="#">
                    <img th:src="@{img/icon-instagram.svg}" alt="" class="h-8"/>
                </a>
            </div>
        </div>
        <!-- List Container -->
        <div class="flex justify-around space-x-32">
            <div class="flex flex-col space-y-3 text-white">
                <a th:href="@{/}" class="hover:text-blue-400">Home</a>
                <a href="#" class="hover:text-blue-400">Pricing</a>
                <a href="#" class="hover:text-blue-400">Products</a>
                <a href="#" class="hover:text-blue-400">About</a>
            </div>
            <div class="flex flex-col space-y-3 text-white">
                <a href="#" class="hover:text-blue-400">Careers</a>
                <a href="#" class="hover:text-blue-400">Community</a>
                <a href="#" class="hover:text-blue-400">Privacy Policy</a>
            </div>
        </div>

        <!-- Input Container -->
        <div class="flex flex-col justify-between">
            <form>
                <div class="flex space-x-3">
                    <input
                            type="text"
                            class="flex-1 px-4 rounded-full focus:outline-none"
                            placeholder="Updated in your inbox"
                    />
                    <button
                            class="px-6 py-2 text-white rounded-full bg-blue-400 hover:bg-blue-300 focus:outline-none"
                    >
                        Go
                    </button>
                </div>
            </form>
            <div class="hidden text-white md:block">
                Copyright &copy; 2022, All Rights Reserved
            </div>
        </div>
    </div>
</footer>
<script th:src="@{js/hamburgerMenu.js}"></script>
</body>
</html>