<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <title>
        Marketour
    </title>
    <link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<!-- Navbar -->
<nav class="relative container mx-auto p-6">
    <!-- Flex container -->
    <div class="flex items-center justify-between">
        <!-- Logo -->
        <div class="pt-2">
            <a th:href="@{/main}">
                <img alt="marke logo" class="h-10 w-52" th:src="@{img/marke-logo.svg}"/>
            </a>

        </div>
        <!-- Menu Items -->
        <div class="hidden space-x-6 md:flex">
            <a class="hover:text-darkGrayishBlue" href="#" onclick="tabClick('my_tours')">My tours</a>
            <a class="hover:text-darkGrayishBlue" href="#" onclick="tabClick('marketplace')">Marketplace</a>
            <a class="hover:text-darkGrayishBlue" href="#" onclick="tabClick('profile')">Profile</a>
        </div>

        <!-- Hamburger Icon -->
        <button
                class="block hamburger md:hidden focus:outline-none"
                id="menu-btn"
        >
            <span class="hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
        </button>
    </div>

    <div class="md:hidden">
        <div
                class="absolute flex-col items-center hidden self-end py-8 mt-10 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md"
                id="menu"
        >
            <a href="#" onclick="tabClick('my_tours')">My tours</a>
            <a href="#" onclick="tabClick('marketplace')">Marketplace</a>
            <a href="#" onclick="tabClick('profile')">Profile</a>
        </div>
    </div>
    <div id="my_tours">
        <p>My tours</p>
    </div>
    <div id="marketplace">
        <p>Marketplace</p>
    </div>
    <div id="profile">
        <p>Profile</p>
    </div>
</nav>

<!-- Body -->
<div class="my_tours">
    <table>
        <th:block th:each="myTour : ${userTours}">
            <tr>
                <td>
                    <a class="flex flex-col items-center bg-white border rounded-lg shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
                       href="#">
                        <img alt=""
                             class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                             th:src="|data:image/png;base64,${imageMap.get(myTour.tour.tourId)}|">
                        <div class="flex flex-col justify-between p-4 leading-normal">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                                th:text="${myTour.tour.country}">..</h5>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400" th:text="${myTour.tour.city}">
                                Here
                                are the biggest enterprise technology acquisitions of 2021 so far, in reverse
                                chronological
                                order.</p>
                        </div>
                    </a>
                </td>
            </tr>
        </th:block>
    </table>
</div>

<div class="marketplace">
    <table>
        <th:block th:each="tour : ${allTours}">
            <tr>
                <td>
                    <a class="flex flex-col items-center bg-white border rounded-lg shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
                       href="#">
                        <img alt=""
                             class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                             th:src="|data:image/png;base64,${imageMap.get(tour.tourId)}|">
                        <div class="flex flex-col justify-between p-4 leading-normal">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                                th:text="${tour.country}">..</h5>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400" th:text="${tour.city}">
                                Here
                                are the biggest enterprise technology acquisitions of 2021 so far, in reverse
                                chronological
                                order.</p>
                        </div>
                    </a>
                </td>
            </tr>
        </th:block>
    </table>
</div>


<!-- Footer -->
<footer class="bg-veryDarkBlue">
    <!-- Flex Container -->
    <div
            class="container flex flex-col-reverse justify-between px-6 py-10 mx-auto space-y-8 md:flex-row md:space-y-0"
    >
        <!-- Logo and social links container -->
        <div
                class="flex flex-col-reverse items-center justify-between space-y-12 md:flex-col md:space-y-0 md:items-start"
        >
            <div class="mx-auto my-6 text-center text-white md:hidden">
                Copyright &copy; 2022, All Rights Reserved
            </div>
            <!-- Logo -->
            <div class="pt-2">
                <a th:href="@{/main}">
                    <img alt="marke logo" th:src="@{img/marke-logo.svg}"/>
                </a>

            </div>
            <!-- Social Links Container -->
            <div class="flex justify-center space-x-4">
                <!-- Link 1 -->
                <a href="#">
                    <img alt="" class="h-8" th:src="@{img/icon-facebook.svg}"/>
                </a>
                <!-- Link 2 -->
                <a href="#">
                    <img alt="" class="h-8" th:src="@{img/icon-youtube.svg}"/>
                </a>
                <!-- Link 3 -->
                <a href="#">
                    <img alt="" class="h-8" th:src="@{img/icon-twitter.svg}"/>
                </a>
                <!-- Link 4 -->
                <a href="#">
                    <img alt="" class="h-8" th:src="@{img/icon-pinterest.svg}"/>
                </a>
                <!-- Link 5 -->
                <a href="#">
                    <img alt="" class="h-8" th:src="@{img/icon-instagram.svg}"/>
                </a>
            </div>
        </div>
        <!-- List Container -->
        <div class="flex justify-around space-x-32">
            <div class="flex flex-col space-y-3 text-white">
                <a class="hover:text-blue-400" href="#">Home</a>
                <a class="hover:text-blue-400" href="#">Pricing</a>
                <a class="hover:text-blue-400" href="#">Products</a>
                <a class="hover:text-blue-400" href="#">About</a>
            </div>
            <div class="flex flex-col space-y-3 text-white">
                <a class="hover:text-blue-400" href="#">Careers</a>
                <a class="hover:text-blue-400" href="#">Community</a>
                <a class="hover:text-blue-400" href="#">Privacy Policy</a>
            </div>
        </div>

        <!-- Input Container -->
        <div class="flex flex-col justify-between">
            <form>
                <div class="flex space-x-3">
                    <input
                            class="flex-1 px-4 rounded-full focus:outline-none"
                            placeholder="Updated in your inbox"
                            type="text"
                    />
                    <button
                            class="px-6 py-2 text-white rounded-full bg-blue-400 hover:bg-blue-300 focus:outline-none"
                    >
                        Go
                    </button>
                </div>
            </form>
            <div class="hidden text-white md:block">
                Copyright &copy; 2022, All Rights Reserved
            </div>
        </div>
    </div>
</footer>
<script th:src="@{js/hamburgerMenu.js}"></script>
</body>

<script>
    myToursVisible();

    function elementVisibility(name, visible) {
        Array.prototype.forEach.call(document.getElementsByClassName(name), function (e) {
            if (visible)
                e.style.display = "block";
            else
                e.style.display = "none";
        });
        if (visible)
            document.getElementById(name).style.display = "block";
        else
            document.getElementById(name).style.display = "none";
    }

    function myToursVisible() {
        elementVisibility("my_tours", true);
        elementVisibility("marketplace", false);
        elementVisibility("profile", false);
    }

    function marketplaceVisible() {
        elementVisibility("my_tours", false);
        elementVisibility("marketplace", true);
        elementVisibility("profile", false);
    }

    function profileVisible() {
        elementVisibility("my_tours", false);
        elementVisibility("marketplace", false);
        elementVisibility("profile", true);
    }

    function tabClick(page) {
        if (page === "my_tours") {
            myToursVisible();
        } else if (page === "marketplace") {
            marketplaceVisible();
        } else if (page === "profile") {
            profileVisible();
        }
    }
</script>
</html>