<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <title>Tour Pages</title>

    <!-- Import Tailwind CSS -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"/>

    <!-- Import Swiper.js -->
    <link href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet"/>
</head>
<body class="bg-gray-200">
<div class="mx-auto w-full h-full">
    <div class="swiper-container mx-auto h-full">
        <div class="swiper-wrapper h-full">
            <div class="swiper-slide bg-white rounded-lg p-6 mx-auto h-full" th:each="tourPage : ${tourPages}">
                <p class="text-2xl font-medium text-gray-800 mx-auto" th:text="${tourPage.location.name}"></p>
                <h1 class="text-4xl font-medium text-gray-800 my-4 mx-auto" th:text="${tourPage.title}"></h1>
                <h1 class="text-4xl font-medium text-gray-800 my-4 mx-auto" id="lat" th:text="${tourPage.location.latitude}"></h1>
                <h1 class="text-4xl font-medium text-gray-800 my-4 mx-auto" id="long" th:text="${tourPage.location.longitude}"></h1>
                <button onclick="goToGoogleMaps()" >Google Maps</button>

                <div class="my-6">
                    <img alt="Image"
                         class="mx-auto object-cover rounded-lg w-full h-screen"
                         th:src="|data:image/png;base64,${imagesBase64.get(tourPage.tourPageId)}|"/>
                </div>
                <p class="w-full text-center text-darkGrayishBlue md:text-left h-60 break-words overflow-y-auto"
                   th:text="${tourPage.body}">
                    Marketour provides all the functionality your team needs, without the
                    complexity. Our software is tailor-made for modern digital product
                    teams.
                </p>
                <div class="my-6 mx-auto w-full">
                    <audio alt="Audio" class="h-20 w-full"
                           controls th:src="|data:audio/mp3;base64,${audioBase64.get(tourPage.tourPageId)}|"/>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<script>
    async function goToGoogleMaps() {
        let lat = document.getElementById("lat").innerText;
        let long = document.getElementById("long").innerText;

        try {
            window.open(`https://www.google.com/maps?q=${lat},${long}`, '_blank')
             } catch (e) {
                alert("Location not valid!");
        }
    }
</script>
<!-- Initialize Swiper.js -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: {
            el: '.swiper-pagination',
            type: 'bullets',
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
</body>
</html>